<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script>
    function goBackToIndex() {
      window.location.href = "/index.html";
    }
  </script>
</head>

<body>
  <form action="#" th:action="@{/6-string-guitar}" th:object="${fretAnswer}" method="post">
    <label for="fret" th:text="|What fret is a ${randomOctave} ${randomNote} on the ${randomString} string?|" />
    <input type="number" name="fret" id="fret" min="0" max="23" required th:field="*{fret}" />
    <input type="hidden" name="octave" th:field="*{octave}" />
    <input type="hidden" name="string" th:field="*{string}" />
    <input type="hidden" name="note" th:field="*{note}" />
    <input type="hidden" name="allNotes" th:field="*{allNotes}" />
    <button type="submit">Submit!</button>
  </form>

  <button type="button" onclick="goBackToIndex()">Go Back</button>
</body>

</html>
